@import url('https://fonts.googleapis.com/css2?family=Sarpanch:wght@400;500;600;700;800;900&family=Zen+Dots&display=swap');

.NavBar {
    background-color: #222831;
    box-shadow: #4d4d4d 1px 1px 5px 1px;
}

.NavBar a, 
.NavBar .nav-link,
.NavBrand {
    color: #fafafa !important;
    font-family: "Zen Dots", sans-serif;
}

.NavBar a:hover, 
.NavBar .nav-link:hover{
    color: #cccccc !important;
}
